.env

docker-compose.yml
node_modules/
dist/
coverage/
.vscode/
.idea/
.DS_Store
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test      
backend-ci-cd.yml
package-lock.json
package.json